{% extends 'base.html.twig' %}

{% block cannonical %}
<link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">
{% endblock %}

{% block body %}
    <main>
        <div class="album py-5 bg-light">
            <div class="container">
                <p class="fs-2">Last Reviews</p>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                    {% for review in lastReviews %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="card-img-top" src="{{ asset('uploads/' ~ review.cover) }}" width="100%" height="225">
                            <div class="card-body">
                                <p class="card-text">{{ review.name }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{{ path('reviews_review_show', { "id":review.id }) }}">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            View
                                        </button>
                                        </a>
                                    </div>
                                    <small class="text-muted">{{ review.author|split('@')[0] }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <p class="fs-2 mt-3">Popular Reviews</p>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                    {% for review in popularReviews %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="card-img-top" src="{{ asset('uploads/' ~ review.cover) }}" width="100%" height="225">
                            <div class="card-body">
                                <p class="card-text">{{ review.name }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    </div>
                                    <small class="text-muted">{{ review.author|split('@')[0] }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </main>
{% endblock %}
