{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}
{% block cannonical %}
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css"
            rel="stylesheet"
    />
{% endblock %}

{% block body %}
    <style type="text/css">
        .bootstrap-tagsinput .tag {
            margin-right: 2px;
            color: white !important;
            background-color: #0d6efd;
            padding: 0.2rem;
        }
    </style>

    <div class="container mt-3">
    <div class="card shadow mb-4">

        <div class="card-header py-3">
            <div class="d-flex justify-content-between align-items-center">
                <p class="m-0 font-weight-bold">Edit Review</p>
{#                <a href="{{ path('reviews_review_add') }}" class="d-none d-sm-inline-block btn btn-outline-dark shadow-sm">
                    Add new
                </a>#}
            </div>
        </div>

        <div class="card-body">
            {{ form_start(form) }}

            <div class="form-group col-4 mb-2">
                <label for="exampleFormControlInput1">Review name</label>
                    {{ form_widget(form.name) }}
                    <div class="form-error">
                        {{ form_errors(form.name) }}
                    </div>
            </div>

            <div class="form-group col-4 mb-2">
                <label for="exampleFormControlInput1">Cover</label>
                {{ form_widget(form.cover) }}
                <div class="form-error">
                    {{ form_errors(form.cover) }}
                </div>
            </div>

            <div class="form-group col-4 mb-4">
                <label for="exampleFormControlInput1">Review Group</label>
                {{ form_widget(form.category) }}
                <div class="form-error">
                    {{ form_errors(form.category) }}
                </div>
            </div>

            <div class="form-group col-4 mb-2">
                <label for="exampleFormControlInput1">Tags</label>
                {{ form_widget(form.reviewTags, {'attr': {'data-role': 'tagsinput'}}) }}
                <div class="form-error">
                    {{ form_errors(form.category) }}
                </div>
            </div>

            <div class="form-group mb-2">
                <label for="exampleFormControlInput1">Review text</label>
                {{ form_widget(form.text) }}
                <div class="form-error">
                    {{ form_errors(form.text) }}
                </div>
            </div>

            <div class="form-group col-4 mb-2">
                <label for="exampleFormControlInput1">Images</label>
                {{ form_widget(form.images) }}
                <div class="form-error">
                    {{ form_errors(form.images) }}
                </div>
            </div>

            <div class="form-group mb-2">
                <label for="review_form_authorGrade">Grade</label>
                {{ form_widget(form.authorGrade, {'attr': {'class': 'rating'}}) }}
                <div class="form-error">
                    {{ form_errors(form.authorGrade) }}
                </div>
            </div>

            {{ form_widget(form.submit) }}

            {{ form_rest(form) }}
            {{ form_end(form) }}

        </div>
    </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script>
        (function($) {
            $("#review_form_authorGrade").rating({
                min:0,
                max:5,
                step:1,
                size:'md',
                starCaptions: {
                    1: 'Very bad',
                    2: 'Poor',
                    3: 'OK',
                    4: 'Good',
                    5: 'Excellent'
                },
                showClear: false,

            });
            $("#review_form_text").markdownEditor({useTwemoji: true});
        })(jQuery);

        $(function () {
/*            $('.bootstrap-tagsinput').tagsinput('add', 'some tag');*/
            $('input')
                .on('change', function (event) {
                    var $element = $(event.target);
                    var $container = $element.closest('.example');

                    if (!$element.data('tagsinput')) return;

                    var val = $element.val();
                    if (val === null) val = 'null';
                    var items = $element.tagsinput('items');

                    $('code', $('pre.val', $container)).html(
                        $.isArray(val)
                            ? JSON.stringify(val)
                            : '"' + val.replace('"', '\\"') + '"'
                    );
                    $('code', $('pre.items', $container)).html(
                        JSON.stringify($element.tagsinput('items'))
                    );
                })
                .trigger('change');

        });
    </script>

{% endblock %}
