{% extends 'base.html.twig' %}

{% block title %}All Products{% endblock %}

{% block body %}
    <div class="container mt-3">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="d-flex justify-content-between align-items-center">
                <p class="m-0 font-weight-bold">Your Reviews</p>
                <a href="{{ path('reviews_review_add') }}" class="d-none d-sm-inline-block btn btn-outline-dark shadow-sm">
                    Add new
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="main_table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Category</th>
                        <th scope="col">Name</th>
                        <th scope="col">Tags</th>
                        <th scope="col">Cover</th>
                        <th scope="col">Author grade</th>
                        <th scope="col">Users grade</th>
                        <th scope="col">Likes</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set i = 0 %}
                    {% for review in reviews %}
                        {% set i = i + 1 %}
                        <tr>
                            <th scope="row">{{ i }}</th>
                            <td>{% if review.getCategory %}{{ review.getCategory }}{% endif %}</td>
                            <td>{{ review.name }}</td>
                            <td>Example Tag</td>
                            <td>{{ review.cover }}</td>
                            <td>{{ review.authorGrade }}</td>
                            <td>{{ review.usersGrade }}</td>
                            <td>{{ review.likesAmount }}</td>
                            <td>
                                <a href="{{ path('reviews_review_show', { "id":review.id }) }}"
                                   class="d-none d-sm-inline-block btn btn-outline-dark shadow-sm">Show
                                </a>
                                <a href="{{ path('reviews_review_edit', { "id":review.id }) }}"
                                   class="d-none d-sm-inline-block btn btn-outline-dark shadow-sm">Edit
                                </a>
                                <a href="{{ path('reviews_review_delete', { "id":review.id }) }}"
                                   class="d-none d-sm-inline-block btn btn-outline-dark shadow-sm">Delete
                                </a>

{#                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="{{ path('reviews_review_edit', { "id":review.id }) }}">Edit</a>
                                        <a class="dropdown-item" href="{{ path('reviews_review_delete', { "id":review.id }) }}">Delete</a>
                                    </div>
                                </div>#}
{#                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Dropdown button
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>#}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
